<h3>Your response:</h3>
<%= form_for [question, response] do |f| %>
  <%= hidden_field_tag("response[question_id]", question.id) %>
  <%= f.text_area :body %><br />
  <%= f.submit "What do you think?" %>
<% end %>
